<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--Nginx流服务器IP  121.37.206.210-->
		<add key="NginxServerIP" value="121.37.206.210"/>
		<!--Nginx流服务器推流端口-->
		<add key="NginxServerPort" value="9000"/>
	</appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
